.custom-dropdown {
    padding: 0px 16px;
    max-width:100%;   
    position: relative;
}
.custom-dropdown-selection {
    border-radius: 6px;
    cursor: pointer;
    color: white;
}
.custom-dropdown .items-holder {
    border-radius: 6px;
    background-color: #0E5E6F;
    position: absolute;
    top: 100%;
    width: 140%;
    color: white;
}
.custom-dropdown .items-holder .dropdown-item {
    padding: 10px 16px;
    cursor: pointer;
}
.custom-dropdown .items-holder .dropdown-item:hover {
    background-color: #0001;
}