.footer {
    margin: 15px;
  }
  .footer-container {
    grid-gap: 40px;
  }
  h3 {
    font-size: small;
  }
  p {
    font-size:12px;
  }
  @media screen and (max-width: 1040px) {
    /* .footer-container {
      grid-template-columns: 1fr;
    } */
  }
  