.gradient {
    background: linear-gradient(to left, #79bbd5, #136e82);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.col {
  padding: 10px;
  text-align: center;
}

.col p {
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.col-data {
  background-color: #dfeff6;
  padding: 10px;
  text-align: left;
  border-radius: 10px;
}

.align {
  display: flex;
  flex-direction: row;
  line-height: 17.5px;
  align-items: center;
}

.align h5 {
  font-size: 12px;
  font-weight: medium;
}

.align h6 {
  color: gray;
  font-weight: 600;
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: linear-gradient(to left, #5e4fbe, #58B6DD, #57B4DE);
  text-align: center;
  line-height: 35px;
}